<?xml version='1.0' encoding='utf-8'?>
<widget id="io.amirtorrez.horario" version="0.8.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Horario 8B</name>
    <description>
        Horario de clases.
    </description>
    <author email="amirtorrez@openmailbox.org" href="https://amirtorrez.github.io">
        Amir Torrez
    </author>
    <content src="index.html" />
    <icon src="www/src/icon.png" />
    <icon density="" src="www/src/icon.png" />
    <preference name="permissions" value="none" />
</widget>
